.asyncWrapper {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  padding-top: 42.5%;
}

.remote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 2s;
}

@keyframes pulse {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}
