.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    .randomQuote {
      color: white;
      padding: 0 1rem;
    }
    .credits {
      text-align: center;
      color: rgb(54, 60, 63);
      font-size: 0.8rem;
    }

    @media only screen and (min-width: 37.5em) {
        .randomQuote {
            font-size: 1.5rem;
        }
      }
  }