.searchContainer {
  margin: 0 1rem;
  position: sticky;
  top: 1rem;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  border-radius: 1rem;
  background-color: #23272A;

  input {
    color: white;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #23272A;
    border: solid 1px #23272A;
    transition: 0.15s;
    -webkit-appearance: none;
  
    &:focus {
      border: solid 1px cornflowerblue;
    }
  }

  @media only screen and (min-width: 37.5em) {
      margin: 0 2rem;
    
      input {
        font-size: 2rem;
        padding: 2rem;
      }
    }
}


