html {
  background-color: #2C2F33;
}

.body {
  padding: 2rem 1rem;
}

.credits {
  text-align: center;
  color: rgb(54, 60, 63);
  font-size: 0.8rem;
}


@media only screen and (min-width: 37.5em) {
  .body {
    padding: 3rem;
  }
}

.alert {
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  background: cornflowerblue;
  padding: 1rem 0;
  width: 250px;
  height: 20px;
  border-radius: .375rem;
  color: white;
  font-weight: 500;
  top: 7rem;
  left: 50%;
  margin-left: -125px;
  text-align: center;
  line-height: 20px;
  transition: 0.3s;
  z-index: 999;
}

.alert-hide{
  visibility: hidden;
  opacity: 0;
}

.alert-show {
  visibility: visible;
  opacity: 1;
  top: 8rem;
}