html {
  background-color: #2C2F33;
}

.highlight {
  background-color: darksalmon;
  padding: 0.1rem 0rem;
}

.sub {
  display: table;
  border-radius: .375rem;
  padding: 0rem 1rem;
  cursor: pointer;
  color: white;
}

.sub:hover {
  background-color: darksalmon;
}



.credits {
  text-align: center;
  color: rgb(54, 60, 63);
  font-size: 0.8rem;
}

.body {
  padding: 2rem 1rem;
}

.searchContainer {
  margin: 0 1rem;
  position: sticky;
  top: 1rem;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  border-radius: 1rem;
  background-color: #23272A;

}

input {
  color: white;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #23272A;
  border: solid 1px #23272A;
  transition: 0.15s;
  -webkit-appearance: none;
}

input:focus {
  border: solid 1px cornflowerblue;
}

@media only screen and (min-width: 37.5em) {

  .body {
    padding: 3rem;
  }

  .searchContainer {
    margin: 0 2rem;
  }

  input {
    font-size: 2rem;
    padding: 2rem;
  }
}

.alert {
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  background: cornflowerblue;
  padding: 1rem 0;
  width: 250px;
  height: 20px;
  border-radius: .375rem;
  color: white;
  font-weight: 500;
  top: 7rem;
  left: 50%;
  margin-left: -125px;
  text-align: center;
  line-height: 20px;
  transition: 0.3s;
}

.alert-hide{
  visibility: hidden;
  opacity: 0;
}

.alert-show {
  visibility: visible;
  opacity: 1;
  top: 8rem;
}